<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>  <!-- see how there are no complicated things here -->
      </ion-buttons>
      <ion-title>Nuovo transito</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content padding>
  <ion-list>
      <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">

        <ngx-auto-complete [options]="cities" (onSelect)="selectCity($event)"></ngx-auto-complete>


        <ion-item>
          <ion-label floating>Data inizio transito: *</ion-label>
          <ion-datetime formControlName="start_transit_date" displayFormat="DD/MM/YYYY"  cancelText="Cancella" doneText="Fatto"></ion-datetime>
        </ion-item>
       

        <ion-item>
          <ion-label floating>Ora inizio transito: *</ion-label>
          <ion-datetime formControlName="start_transit_hour" displayFormat="HH:mm" cancelText="Cancella" doneText="Fatto"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label floating>Data fine transito: *</ion-label>
          <ion-datetime formControlName="end_transit_date" displayFormat="DD/MM/YYYY" cancelText="Cancella" doneText="Fatto"></ion-datetime>
        </ion-item>
        <div *ngIf="requestForm.controls.end_transit_date.errors && requestForm.controls.end_transit_date.errors.overlapdate" class="alert alert-danger" >Data fine inferiore a data inizio.</div>


        <ion-item>
          <ion-label floating>Ora fine transito: *</ion-label>
          <ion-datetime formControlName="end_transit_hour" displayFormat="HH:mm" cancelText="Cancella" doneText="Fatto"></ion-datetime>
        </ion-item>
          <div *ngIf="requestForm.controls.end_transit_hour.errors && requestForm.controls.end_transit_hour.errors.overlaptime" class="alert alert-danger">Ora fine inferiore a ora inizio.</div>


          <ion-item>
              <ion-label floating>Targa: *</ion-label>
              <ion-input formControlName="targa" type="text"  autocapitalize="characters" (keypress)="onKeyPressed($event)"></ion-input>
          </ion-item>

          <ion-button type="submit" color="primary" expand="block" [disabled]="!requestForm.valid || !selectedCity" >Invia</ion-button>

      </form>
  </ion-list>
</ion-content>