.list-item{
     
    background-color: #fff;
    color:#000;
    width:100%;
    height: 100%;
    vertical-align: middle;
    

    &:hover{
        background-color: #3880ff !important;
        color:#fff;
    }

}



.overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

    &-container{
        position: relative;
     
    }

  }