
<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" class="header">
        <span *ngIf="!showModal">
          <ion-menu-button></ion-menu-button>  
        </span>
        <ion-title>{{title}}</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>



<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
   
    <span *ngIf="showModal">
      <ion-button ion-fab mini (click)="attach()" [disabled]="docs.length==0"><ion-icon name="attach"></ion-icon></ion-button>
    </span>
    <ion-button ion-fab mini (click)="takePhoto()"><ion-icon name="camera"></ion-icon></ion-button>
  </ion-fab>

<div *ngIf="fileList.length>0; else noDocument">
    <ion-list>
      <ion-item *ngFor="let d  of fileList"  >
        <div *ngIf="showModal">
          <ion-checkbox (click)="selectPhoto(d)"></ion-checkbox>
        </div>  
          <ion-label><div class="label">{{d.name }}</div></ion-label>
          <ion-button  item-right (click)="showdoc(d)"><ion-icon name="search"></ion-icon></ion-button>
          <ion-button  item-right (click)="deletephoto(d)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item>
     
  </ion-list>
</div>

<ng-template #noDocument>
  Nessun documento presente
</ng-template>
 
</ion-content>
