<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" class="header">
        <ion-button  (click)="closeModal()" ><ion-icon slot="icon-only"  name="arrow-back"></ion-icon></ion-button>
        <ion-title>Anteprima File</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
 
<div> 
  <ion-grid >
  <ion-row>
    <ion-col col-12>
      <div class="image-container" [style.background-image]="'url(' + doc.safeURL  + ')'" >
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>  



</ion-content>